header .cart-div{
    
    background-color: #ed092a;
}
header .cart-section{
    height: 100vh;
    position: absolute;
    right: -1000px;
    top: 0;
    width: 35%; 
    z-index: 99999;
    background-color: #1a1a1a;
    padding: 20px;
    color: #ffffff;
    transition: .2s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

  
   
}
header .cart-section .top-cart{
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
header .cart-section .top-cart h1{
    font-size: 50px;
    font-weight: 400;
}
header .cart-section .items-cart{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(233, 8, 8, .5);
    
}
header .cart-section .items-cart img{
    max-width: 190px;
    width: 100%;
    margin: 10px 0;
    height: 150px;
}
header .cart-section .items-cart h3{
    font-size: 20px;
    font-weight: 400;
}
header .cart-section .items-cart .item-quantity{
    border: 1px solid #ed092a;
    padding: 0 !important;
    width: 40%;
    display: flex;
    justify-content: space-between;
    
}
header .cart-section .items-cart input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    width: 100%;
    text-align: center;
    cursor:default;
    
}
header .cart-section .items-cart i{
    width: 30%;
    text-align: center;
   
}
header .cart-section .items-cart i:hover{
    background-color: #ed092a;
    cursor: pointer;
}
header .cart-section .items-cart span{
    letter-spacing: .5px;
    font-size: 20px;
    font-weight: 400;
    color: #ed092a;
}
header .cart-section .cart-product{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: auto;
    margin-block-end: auto;
    
}
header .cart-section .items-cart-div{
    padding:  0;
    /* background-color: aliceblue; */
    height: auto;
    overflow: auto;

}
header .cart-section .items-cart .item-info{
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
}
header .cart-section .items-cart .item-info div{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
header .cart-section .items-total{
    border-top: 1px solid #ed092a;
    padding:  0;
    display: flex;
    flex-flow: column wrap;
    color: #ffffff;
    background-color: #1a1a1a;
}
header .cart-section .items-total .total{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
   

}
header .cart-section .items-total h1{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
}
header .cart-section .items-total span{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ed092a;
}
header .cart-section .items-total button{
    background-color: #d50826;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 5px 0;
    
}
/*media*/

@media (max-width:1500px){
    header .cart-section{
        width: 60%;
    }
}

@media (max-width:900px){
    header .cart-section .top-cart h1{
        font-size: 40px;
    }
    header .cart-section .top-cart #close-cart i{
        font-size: 40px !important;
    }
    header .cart-section .items-total h1{
        font-size: 20px;
    }
    header .cart-section .items-total span{
        font-size: 20px;
    }
    header .cart-section .items-total p {
        font-size: 12px;
    }

} 
@media (max-width:790px){
    header .cart-section .items-cart h3 {
        font-size: 16px;
    }
    header .cart-section .items-cart span {
        font-size: 16px;
    }
    header .cart-section .items-total h1{
        font-size: 16px;
    }
    header .cart-section .items-total span{
        font-size: 20px;
    }
    header .cart-section .items-total p {
        font-size: 10px;
    }
    header .cart-section .items-total button{
        font-size: 16px;
    }

} 
@media (max-width:700px){
    header .cart-section .items-cart{
        flex-flow: column;
    }
}
@media (max-width:550px){
    header .cart-section{
        width: 100%;
    }
}
@media (max-width:400px){
    header .cart-section .top-cart h1{
        font-size: 30px !important;
    }
    header .cart-section .top-cart #close-cart i{
        font-size: 30px !important;
    }
    header .cart-section .items-cart h3 {
        font-size: 14px;
    }
    header .cart-section .items-cart span {
        font-size: 14px;
    }
    header .cart-section .items-total h1{
        font-size: 14px;
    }
    header .cart-section .items-total span{
        font-size: 20px;
    }
    header .cart-section .items-total p {
        font-size: 10px;
    }
    header .cart-section .items-total button{
        font-size: 14px;
    }

} 
@media (max-width:330px){
    header .cart-section{
        width: 100%;
    }
}

@media (max-height:700px){
    header .cart-section .items-total{
        margin-bottom: 0px;
    }
}
