@media (max-width:960px){
    header{
        padding: 10px 15px;
    }
    section div.wrap .logo-left{
        position: absolute;
        
    }
    section div.wrap .form-right{
        position: relative;
        z-index: 1;
        width: 60%;
        background-color: rgba(0, 0, 0, .8);
    }
    body div.red_div ul {
    padding: 5px 0 5px 20px;
    }
}
@media (max-width:790px){
    footer section.contact .wrap div {
        width: 50%;
        text-align: center;
    }
    footer section.contact .wrap h5 {
        font-size: 14px;
    }
    footer section.contact .wrap p {
        font-size: 12px;
    }
    footer section.contact .wrap ul li {
        font-size: 12px;
    }
    footer section.contact .wrap ul{
        width: fit-content;
        margin: 0 auto;
        text-align:start;
    
    }
}
@media(max-width:500px){
    section div.wrap .form-right{
        width: 80%;
    }
    section div.wrap .form-right button{
        padding: 5px 40px;
    }
}

@media(max-width:390px){
    footer section.contact .wrap div {
        width: 50%;
    }
    footer section.contact .wrap ul{
        text-align: start;
    }
    footer section.contact .wrap .payment div.delivery{
        width: 100%;
    }
    footer section.contact .wrap div .image-delivery {
        justify-content: center;
    }
    footer section.contact .wrap div .image-delivery img{
        height: 40px;
    }
}
@media(max-width:330px){
    section div.wrap .form-right{
        width: 90%;
    }
}
@media(max-width:300px){
   footer section.contact .wrap div {
        width: 100%;
    }
    footer section.contact .wrap ul{
        margin-left: 15%;
    }
}
